body{
    padding: 0%;
    margin: 0%;
    height: 100vh;
    background-color: #313131;
    color: white;
}
.form{
    margin: 70px 430px;
    width: 530px;
}
#fm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form2{
    margin: 90px 430px;
    width: 530px;    
}